@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic);

html, body {
  height: 100%;
  background-color: #888;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.page {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section {
  padding: 20px;
}

#top {
  background-image: url("img/link.jpg");
}
#top .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#top h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 600;
}
#top h3 {
  font-style: italic;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  padding-top: 20px;
}
p {
  font-size: 16px;
  padding-bottom: 20px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  text-decoration: none;
}

.even a {
  color: #B31D1D;
}
.even a:hover {
  color: #731717;
}
.odd {
  background-color: #731717;
  color: #DDD;
}
.odd a {
  color: #888;
}
.odd a:hover {
  color: #555;
}
.person {
  font-size: 18px;
}
.person img {
  width: 80%;
  max-width: 256px;
}
.person .name {
  display: block;
  margin-top: 8px;
}

#updates .form-control {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#updates .btn {
  margin-top: 20px;
}

@media (max-width: 768px) {
  p {
    max-width: 90%;
  }
  #updates .form-control {
    width: 90%;
  }
}
